* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;  
}
/* navbar */
 .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

.logo img {
    width: 120px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child{
    margin-right: 0px;
}


a {
    text-decoration: none;
    color: #555;
}

p {
    
    color: #555;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    margin-top: 15%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1{
    width: 40%;
}

.col-2{
    width: 60%;
}

.col-2 img {
    /* height: 30%; */
    width: 100%;
}
.col-1 h1 { 
    font-size: 3.4rem;
    line-height: 50px;
    margin: 25px 0;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.1;
}


.btn {
    display: inline-block;
    background: #ff523b;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}
.btn:hover {
    background: #555;
}
.header {
    background: #EEF1C5;
    height: 100vh;
   
}
/* featured categories */

.categories {

   margin: 70px 0; 
}
.col-3 {

    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {

    width: 100%;
    height: 100%;
}
/* featured products */
.small-container {

    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {

    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-top: 5px;
    transition: transform 0.5s;
    /* margin-bottom: 50px; */

}
.col-4 img  {
    width:100%;

}
.title {
    text-align: center;
    text-transform: capitalize;
    line-height: 60px;
    margin: 0 auto 80px;
    position: relative;
    color: #555;
}
.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 46%;
    transform: translateX(-50);
}
/*latest products  */

.small-container .row{
    margin-top: 2px;
}
.small-container h2  {
    margin-bottom: 3rem;
}
h4 {
    color: #555;
    font-weight: normal;
}
.col-4 p {
    font-size: 15px;

}
.rating .fa {
  color: #ff523b;
}

.col-4:hover {
   transform: translateY(-10px);
}
/* offer */

.offer {
    background: #fff;
    margin-top: 80px;
}

.col-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-5 img {
    width: 50%;
    margin-right: 1rem;
}

.col-5 p {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-transform: capitalize;

}
.col-5 h1 {

    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.col-5 small {
     font-size: 1rem;
}

/* testimonial */
.testimonial {
    padding-top:100px;
}


.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0, 2);
    cursor: pointer;
}
.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover {
    transform: translateY(-10px);
}
.fa.fa-quote-left {
    font-size: 35px;
    color: #ff523b;

}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;

}
.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
 /* brands */

 .brands {
     margin: 100px auto;
 }
 .col-6 {
     width: 150px;
 }

 .col-6 img {
     width: 100%;
     cursor: pointer;
     filter: grayscale(100%);

 }

 .col-6 img:hover{
    filter: grayscale(0); 
 }

 /* footer */

 .footer {
     background: rgb(124, 122, 122);
     color: #fff6f6;
     font-size: 14px;
     padding: 60px 0 20px;

 }

 .footer .footer-row {
     display: grid;
     grid-template-columns: repeat(4, auto);
     grid-gap: 5rem;
     text-align: center;
 }

 .footer p {
    color: #fff6f6;
 }

 .footer h3 {
     color: #fff;
     margin-bottom: 20px;
     text-transform: capitalize;
 }

 .footer-col-2 img {
     width: 150px;
     margin-bottom: 20px;
 }
 
 ul {
     list-style-type: none;
 }

 .app-logo {
     margin-top: 20px;

 }
 .app-logo img {
     width: 140px;

 }

 .footer hr {
     border: none;
     background: #b5b5b5;
     height: 2px;
     margin: 20px 0;
 }

 .copyright {
     text-align: center;
 }
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}



